/*
cиний #2196F3
белый #ffffff
черный #000000
темно-серый #212121
светло-серый #757575

вторичный цвет фона секций #F5F4FA
цвет фона футера #2F303A
*/

:root {
  --primery-text-color: #757575;
  --accent-color: #2196f3;
  --light-color: #ffffff;
  --dark-color: #212121;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

.container {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  /* убирем точки в списках, где это необходимо */
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  font-family: inherit;
  color: var(--light-color);
  background-color: var(--accent-color);
  text-decoration: none;
  min-width: 200px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0;
}

.section.no-padding-top {
  padding-top: 0px;
}

/* header */

.header {
}

.header .logo-accent {
  color: #000000;
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

/* nav-header */

.header-nav .nav-link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav li {
}

.nav-link.current {
  color: var(--accent-color);
}

.header-nav .nav-link:hover,
.header-nav .nav-link:focus {
  color: var(--accent-color);
  text-decoration: underline;
}

/* contact header */
.header-mail,
.header-phone {
  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail:hover,
.header-mail:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* hero */
.hero {
  background-color: #757575;
  text-align: center;
}
.hero-title {
  color: var(--light-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 45px;
}

/* advantages - преимущества */
.advantages {
  /* background-color: skyblue; */
}

.advantages-title {
  /* скрытый заголовк */
  margin-top: 0;
  margin-bottom: 0;
}

.advantages-item h3 {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages-item p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  /* or 171% */
}

/* services */
.services {
  background-color: #757575;
}

.services-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.services-item h3 {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--light-color);
  text-transform: uppercase;
}

.services-item a {
  text-decoration: none;
}

/* team */
.section.team {
  background-color: #f5f4fa;
}

.team-list {
}

.team-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}

.team-item h3 {
  /* name */
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-item img {
  margin-bottom: 30px;
}

.team-item p {
  /* position */
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.team-social-list a {
  color: #afb1b8;
  text-decoration: none;
}

.team-social-list a:hover,
.team-social-list a:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}

.team-social-list li {
}

/* Клиенты */

.clients {
  /* background-color: springgreen; */
}

.clients h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 48px;
}

.footer .logo-accent {
  color: #ffffff;
}

.footer address {
  /* весь блок адреса */
  font-style: normal;
}

.footer-address {
  /* город, улица, дом */
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 9px;
  margin: 0;
}

.footer-mail,
.footer-phone {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-top: 9px;
  margin: 0;
}

.footer-social b,
.subscribe b {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 21px;
}

.copyright p {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 28px;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-social-list li {
}

.footer-social-list a {
  color: var(--light-color);
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.footer-social-list a:hover,
.footer-social-list a:focus {
  color: var(--accent-color);
  background-color: var(--light-color);
  text-decoration: none;
}

/* portfolio */

section.portfolio {
}

/* filter */

filter {
}

.filter-item button {
  font-family: inherit;
  color: var(--dark-color);
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.filter-item button:hover,
.filter-item button:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter > li {
}
.example > li {
  background: #ffffff;
}

.example img {
  margin-bottom: 20px;
}

.example h2 {
  margin-top: 0;
  margin-bottom: 4px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
}

.portfolio h1 {
  margin: 0;
}

.portfolio a {
  text-decoration: none;
}

.portfolio .element-type {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 24px;
  /* identical to box height, or 187% */
}

.portfolio .element-disc {
  color: #ffffff;
  background-color: var(--accent-color);
  margin: 0;
}
